@use '/src/styles/tokens' as *;
@use '/src/styles/mixins' as *;

.hero {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 331px;
    overflow: hidden;
    isolation: isolate;
    background-color: $color-bg-footer;

    &::before {
        position: absolute;
        z-index: -1;
        background-image: var(--hero-image);
        background-position: center;
        background-size: cover;
        content: '';
        inset: 0;
        opacity: 0.2;
    }

    > div {
        position: relative;
        z-index: 1;
        width: calc(100% - #{$size-4});
        max-width: 640px;
        margin: 64px $size-2;
        min-height: 203px;
        border: 2px solid $color-on-primary;
        border-radius: $corner-large;
        background: $color-bg;
        box-shadow: $shadow-level-2;
        display: flex;
        gap: $size-3;
        flex-direction: column;
        align-items: flex-start;
        padding: $size-4;
    }

    h1 {
        max-width: 500px;

        color: $color-on-primary;
        font-size: $font-size-headline-medium;
        line-height: 1.15;
    }

    p {
        color: $color-on-bg;
        font-size: $font-size-body-small;
        line-height: 1.2;
    }
}

@include desktop {
    .hero {
        min-height: 383px;

        > div {
            width: 480px;
            margin: 0 $size-5;
            min-height: 239px;
        }

        h1 {
            font-size: $font-size-display-medium;
        }

        p {
            font-size: $font-size-body-medium;
        }
    }
}

@include desktop {
    .hero {
        padding: $size-14 $size-15;
        min-height: 627px;

        > div {
            width: 640px;
            min-height: 403px;

            padding: $size-6;
            border-width: 3px;
            border-radius: $corner-extra-large;
            box-shadow: 8px 8px 0 $color-on-primary;
        }

        h1 {
            font-size: $font-size-display-large;
        }

        p {
            font-size: $font-size-body-large;
            line-height: 1.5;
        }
    }
}
