@use '/src/styles/tokens' as *;
@use '/src/styles/mixins' as *;

* {
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $size-4;
  padding: $size-3 $size-10;
  background-color: $color-bg;
  color: $color-on-primary;
  font-family: $font-family-inter;
  border: 1px $color-on-primary solid;
  font-weight: $font-weight-bold;

  div {
    display: flex;
    align-items: center;
    gap: $size-1;
    img {
      width: $size-4;
      height: $size-4;
      object-fit: contain;
    }
    h1 {
      font-size: $font-size-headline-medium;
      margin: 0;
    }
  }
  nav {
    display: flex;
    align-items: center;
    gap: $size-4;

    ul {
      display: flex;
      align-items: center;
      gap: $size-5;
      list-style: none;
      a {
        color: $color-on-bg;
        font-size: $font-size-body-medium;
        font-weight: $font-weight-bold;
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
          color: $color-primary;
        }
        &:active {
          color: $color-on-primary;
        }
      }
    }
  }
  div {
    gap: $size-2;
  }
}

// @include tablet {
//   header {
//     padding-inline: $size-4;
//   }
// }

// @media (max-width: $breakpoint-tablet) {
//   header {
//     flex-wrap: wrap;
//     padding: $size-2 $size-3;
//     gap: $size-2;

//     nav {
//       flex-wrap: wrap;
//       width: 100%;

//       ul {
//         justify-content: space-between;
//         width: 100%;
//         gap: $size-2;
//       }

//       .login {
//         margin-left: 0;
//       }
//     }
//   }
// }

// @media (max-width: $breakpoint-mobile) {
//   header {
//     div {
//       h1 {
//         font-size: $font-size-headline-small;
//       }
//     }

//     nav {
//       gap: $size-1;

//       ul {
//         gap: $size-1;

//         a {
//           font-size: $font-size-label-large;
//         }
//       }
//     }
//   }
// }
