@use '/src/styles/tokens' as *;
@use '/src/styles/mixins' as *;

* {
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $size-4;
    padding: $size-3 $size-10;
    background-color: $color-bg;
    color: $color-on-primary;
    font-family: $font-family-inter;
    border: 1px $color-on-primary solid;
    font-weight: $font-weight-bold;
    @include desktop {
        padding: $size-2 $size-5;
    }

    > div {
        display: flex;
        align-items: center;
        gap: $size-1;
        img {
            width: $size-4;
            height: $size-4;
            object-fit: contain;
        }
        h1 {
            font-size: $font-size-headline-medium;
            margin: 0;
            @include tablet {
                font-size: $font-size-headline-small;
            }
        }
    }
    > nav {
        display: flex;
        align-items: center;
        gap: $size-4;

        ul {
            display: flex;
            align-items: center;
            gap: $size-5;
            list-style: none;
            @include tablet {
                display: none;
            }
            a {
                color: $color-on-bg;
                font-size: $font-size-body-medium;
                font-weight: $font-weight-bold;
                text-decoration: none;
                transition: color 0.2s ease;

                &:hover {
                    color: $color-primary;
                }
                &:active {
                    color: $color-on-primary;
                }
            }
        }
        div {
            display: flex;
            align-items: center;
            gap: $size-4;
            .login {
                @include tablet {
                    display: none;
                }
            }
            .signup {
                @include mobile {
                    display: none;
                }
            }
            .mobileBurgerButton {
                display: none;
                @include tablet {
                    display: block;
                }
            }
        }
    }
}
