@use '/src/styles/mixins' as *;
@use '/src/styles/tokens' as *;

ul.categories {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: $size-2;
    padding: $size-4 $size-15;
    width: 100%;
    @include desktop {
        overflow-x: scroll;
        scrollbar-width: none;
        padding: $size-2 $size-5;
    }

    li {
        color: $color-on-primary;
        font-size: $font-size-body-medium;
        font-weight: $font-weight-bold;
        border: 1px solid $color-on-primary;
        border-radius: $corner-extra-large;
        padding: $size-1 $size-2;
        width: max-content;
        text-wrap: nowrap;
        cursor: pointer;

        &.active {
            color: $color-on-primary;
            background-color: $color-primary;
        }
    }
}
