@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

@mixin btn-size($padding, $font-size, $radius) {
  padding: $padding;
  font-size: $font-size;
  border-radius: $radius;
}

.btn {
  @include interactive;

  border: 2px solid $color-on-primary;
  font-family: $font-family-inter;
  font-weight: $font-weight-bold;
  color: $color-on-primary;
  transition: background-color 0.15s ease;

  @include btn-size(
    $button-small-padding,
    $font-size-label-medium,
    $corner-extra-small
  );

  @include tablet {
    @include btn-size(
      $button-medium-padding,
      $font-size-label-large,
      $corner-small
    );
  }

  @include desktop {
    @include btn-size(
      $button-large-padding,
      $font-size-label-extra-large,
      $corner-medium
    );
  }

  &:focus-visible {
    outline: 2px solid $color-tertiary;
    outline-offset: $size-05;
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
  }

  &:disabled {
    opacity: 0.5;
  }

  &--primary {
    background-color: $color-primary;

    &:hover:not(:disabled) {
      background-color: $color-primary-high;
    }
  }

  &--outline {
    background-color: $color-white;

    &:hover:not(:disabled) {
      background-color: $color-surface;
    }
  }
}